body {
	background: #EEEDDB;
	padding: 0;
	margin: 0;
}
img#logo{
	padding: 0 5%;
	width: auto;
	height: 100%;
}
div#top-bar {
	display: flex;
	justify-content:space-around;
	-webkit-justify-content:space-around;
	width: 100%;
	height: 100px;
	/*text-align: center;*/
	align-items: flex-end;
	-webkit-align-items: flex-end;
	margin-bottom: 5px;

}
h1,h2,h3 {
	font-family: "baskerville";
	font-weight: normal;
	color: rgba(0, 0, 0, 0.8);
}

form h1 {
	margin: 0 auto;
	text-align: center;
}
form input {
	display: block;
	margin: 0 auto;
}

#top-bar a{
	/*padding: 0 5%;*/
	font-family: "baskerville";
	text-decoration: none;
	font-size: 2em;
	color: rgba(0,0,0, 0.5);
	text-shadow: 0px 1px 0px rgba(255, 255, 255, .8);
	transition: color 0.3s ease-in-out;
	-webkit-transition: color 0.3s ease-in-out;
	
}


#top-bar a:hover {
	color: #881D00;
}

div.divider {
		background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0), #881D00, rgba(0, 0, 0, 0) );
		width: 90%;
		height: 3px;
		margin:0 auto;
}
div.left-divider {
		background-image: linear-gradient(
		to right,
		#881D00, rgba(0, 0, 0, 0) );
		width: 90%;
		height: 3px;
		margin: 3px 0;
}
#main-contain{
	width: 90%;
	margin: 1% auto;
	display: flex;

}
#article {
	margin: 0 5%;
}
h1#headline {
	font-size: 4em;
	font-family: "baskerville";
	font-weight: normal;
	padding: 0;
	margin: 0;
}
div#about-box, div#team {
	margin: 1.5% auto;
	width: 90%;
}
div#about-box p {
	margin: 0 2.5%;
}
div#about-box h1, div#team h1 {
	font-size: 4em;
	font-family: "baskerville";
	font-weight: normal;
	padding: 0;
	margin: 0;
	text-align: center;
	color: rgba(0, 0, 0, 0.8);
}

div#about-box div.divider, div#team div.divider {
	width: 50%;
	height: 1px;
	margin-bottom: 1%;
}


p#body-text{
	padding: 0;
	margin: 0;
}

#cover{
	margin-left: 5%;	
	width: 40%;
	height: 500px;
	/*background: rgba(235,220,200, .8);*/
	object-fit: contain;
	filter:grayscale(100%);
	-webkit-filter:grayscale(100%);
	/*align-self: flex-start;*/
}
.member {
	width: 20%;
}

.bubble{
	display: block;
	object-fit:cover;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	transition: filter 0.25s ease-in-out ;
	-webkit-transition: filter 0.25s ease-in-out ;
	margin: 0 auto;
}
.bubble:hover {
	filter:none;
	-webkit-filter: none;
}
.bubble-header {
	font-size: 3em;
	padding: 0;
	margin: 0 auto;
	font-family: "baskerville", serif;
	font-weight: normal;
	text-align: center;

}

@media (max-width: 725px) {
	#top-bar a{
		font-size: 1.5em;
	}
	div#top-bar {
		height: 50px;
	}
	img#cover{
		display: none;
	}
}
@media (max-width: 525px) {
	#top-bar a{
		font-size: 1.25em;
	}
	div#top-bar {
		height: 25px;
	}
	img#cover{
		display: none;
	}

}
@media(max-width: 425px) {
	#top-bar a{
		font-size: 1em;
	}
	div#top-bar {
		height: 25px;
	}
	img#cover{
		display: none;
	}
	h1#headline{
		font-size: 2em;
		text-align: center;
	}
	div.left-divider {
		background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0), #881D00, rgba(0, 0, 0, 0) );
		width: 90%;
		height: 3px;
		margin:0 auto;
}

	
